<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
<link href="../styles/hdStreet.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="../script/jquery.js"></script>
<script type="text/javascript" src="../script/menu.js"></script>
</head>

<body>
<div id="wrapper">
  <div id="header"> <a href="#"><img src="../images/logo.png" alt="logo" name="logo" width="188" height="181" id="logo" /></a>
    <p id="mainTitle"><img src="../images/mainTitle.png" width="398" height="158" alt="HD Street Concert Band" /><span>HD Street Concert Band</span></p>
<ul>
       	<li><a href="#">Site Map</a></li>
        <li><a href="#">Contact us</a></li>
    </ul>
  </div>
  <div id="menu">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Agenda</a></li>
      <li><a href="#">The Band</a>
        <ul>
          <li><a href="#">The director</a></li>
          <li><a href="#">The musicians</a></li>
          <li><a href="#">Pictures</a></li>
          <li><a href="#">The band History</a></li>
        </ul>
      </li>
      <li><a href="#">We play for You</a></li>
      <li><a href="#">Come play with us</a></li>
    </ul>
  </div>
  <div id="pageBody">
    <div id="calendarContent">
  <h1> Agenda</h1>
      <p>&nbsp;</p>
      <table>
        <caption>
          upcomming events
        </caption>
        <tr>
          <th>Jul 19 - 5:00 pm</th>
          <td>Summer sounds festival - Redville AK</td>
          <td><a href="#">Read More</a></td>
        </tr>
        <tr>
          <th>Jul 20 - 4:30 pm</th>
          <td>Summer sounds festival - Redville AK</td>
          <td><a href="#">Read More</a></td>
        </tr>
        <tr>
          <th>Jul 22 - 7:00 pm</th>
          <td>Summer sounds festival - Redville AK</td>
          <td><a href="#">Read More</a></td>
        </tr>
        <tr>
          <th>Sept 15 - 8:00 pm</th>
          <td>Back to school concert - Baton Rouge LA</td>
          <td><a href="#">Read More</a></td>
        </tr>
        <tr>
          <th>Dec 18 - 8:00pm</th>
          <td>Christmas concert - Baton Rouge LA</td>
          <td><a href="#">Read More</a></td>
        </tr>
        <tr>
          <th>Mar 16 - 4:00 pm</th>
          <td>Mardi gras parade - Prairieville LA</td>
          <td><a href="#">Read More</a></td>
        </tr>
      </table>
      <p>&nbsp;</p>
      <p><a href="#">See the past events</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel  metus in neque mollis placerat sit amet nec tortor. Aenean est ligula,  semper a tincidunt vulputate, sodales et mi. Aenean tincidunt rhoncus  dignissim. Suspendisse pulvinar congue lobortis. </p>
    </div>
    <div id="calendarSideBar">
		<h1>Next Event</h1>
      	<div id="EventDetails">
   	    <p id="eventDate"><span id="month">Jul</span> <span id="days">19</span></p>
            <h2>Summer sounds Festival</h2>
            <p id="eventTime">5:00 pm</p>
      	</div>
        <p> Phasellus ac justo sapien, vitae mattis  justo. Cras malesuada posuere ante, non eleifend magna auctor sit amet.  Cras placerat mi eu lectus viverra rutrum. </p>
        <p class="alignRight"><a href="#">Read More</a></p>
	</div>
  </div>
  <div id="footer">
    <p>&copy; Copyright 2011 - HD Street Concert Band</p>
  </div>
</div>
</body>
</html>
